header {
    background-color: var(--primary-bg-color);
    color: var(--default-color);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h3 {
    font-family: NeusaDemiBold;
    text-align: center;
}

header>img {
    width: 320px;
    margin-top: -15px;
}

.section-1>.section-content,
.section-2>.section-content,
.section-3>.section-content,
.section-4>.section-content {
    max-width: 900px;
    margin: auto;
}

.section-1>.section-content>h2 {
    font-family: NeusaMedium;
    text-align: center;
    font-size: 40px;
    color: var(--primary-color);
}

/* .section-1>.section-content>h2:nth-child(1) {
    margin-top: 45px !important;
} */

.section-1>.section-content>h2:nth-child(2) {
    /* margin-bottom: 45px !important; */
    text-decoration: underline solid var(--secondary-color);
}

.section-1>.section-content>h4 {
    font-family: NeusaDemiBold;
    text-align: center;
    font-size: 25px;
    color: var(--primary-color);
}

.on-offline {
    /* margin: 30px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.on-offline>h2 {
    font-family: NeusaLight;
}

.on-offline>h2:nth-child(1) {
    background-color: var(--secondary-bg-color);
    color: var(--default-color);
    padding: 5px 8px;
}

.on-offline>h2:nth-child(2) {
    background-color: var(--primary-bg-color);
    color: var(--default-color);
    padding: 5px 8px;
}

.div-hr-full {
    background-color: var(--primary-bg-color);
    color: var(--default-color);
    text-align: center;
}

.div-hr-full>h3 {
    font-family: NeusaMedium;
    font-size: 35px;
    /* font-family: NeusaLight; */
}

#privacy-policy {
    font-size: 20px;
}

#privacy-policy>a {
    color: var(--secondary-color);
    text-decoration: underline;
    background-color: transparent;
}

.form-label {
    font-family: 'NeusaMedium';
    font-size: 30px;
}

.form-control {
    border-radius: 0;
    background-color: #d9d9d9;
    font-family: 'Neusa';
    font-size: 28px;
}

#PRIVACYPOLICYCHECK {
    font-size: 21px;
}

.mb-3.form-check {
    padding-left: 38px !important;
}

.form-check-label {
    font-size: 18px;
}

.div-hr {
    background-color: var(--primary-bg-color);
    color: var(--default-color);
    text-align: center;
}

.section-3>.section-content>h5 {
    font-family: NeusaMedium;
    font-size: 35px;
    text-align: center;
    color: var(--primary-color);
}

.section-3>.section-content>p {
    font-family: NeusaBold;
    font-size: 30px;
    text-align: center;
    color: var(--primary-color);
}

.div-hr>h2 {
    font-family: NeusaMedium;
    font-size: 40px;
    /* font-family: NeusaLight; */
}

.section-4-header {
    background-color: var(--secondary-bg-color);
    color: var(--default-color);
}

.parceiros {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.parceiros>img {
    object-fit: cover;
    width: 100%;
}

footer {
    background-color: var(--primary-bg-color);
    color: var(--default-color);
}

.footer-div {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.footer-div>div>p {
    font-family: NeusaDemiBold;
    font-size: 18px;

}

.footer-div>div>a {
    font-family: NeusaDemiBold;
    font-size: 18px;
    color: var(--secondary-color);
}

@media (max-width: 850px) {
    .parceiros {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 780px) {
    .footer-div {
        flex-direction: column !important;
    }

    .section-1>.section-content>h2 {
        font-size: 30px;
    }

    .section-1>.section-content>h4 {
        font-size: 18px;
    }

    .form-label {
        font-size: 20px;
    }

    .form-control {
        font-size: 18px;
    }

    #privacy-policy {
        font-size: 16px;
    }

    #PRIVACYPOLICYCHECK {
        font-size: 30px;
    }

    .mb-3.form-check {
        padding-left: 38px !important;
    }

    .form-check-label {
        font-size: 20px;
    }

    #PRIVACYPOLICYCHECK {
        font-size: 21px;
    }

    .mb-3.form-check {
        padding-left: 38px !important;
    }

    .form-check-label {
        font-size: 18px;
    }
}

@media (max-width: 590px) {
    .section-1>.section-content>h2 {
        font-size: 25px;
    }

    .section-1>.section-content>h4 {
        font-size: 16px;
    }

    header>h3 {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .parceiros {
        grid-template-columns: 1fr;
    }

    .div-hr-full>h3 {
        font-size: 30px;
    }

    .on-offline>h2 {
        font-size: 20px;
    }

    .section-3>.section-content>h5 {
        font-size: 30px;
    }

    .section-3>.section-content>p {
        font-size: 25px;
    }
}

@media (max-width: 490px) {
    .section-1>.section-content>h2 {
        font-size: 20px;
    }

    .section-1>.section-content>h4 {
        font-size: 14px;
    }

    .div-hr-full>h3 {
        font-size: 25px;
    }

    /* header>h3 {
        font-size: 18px;
    } */
}

@media (max-width: 470px) {
    .div-hr>h2 {
        font-size: 30px;
    }

    .section-3>.section-content>h5 {
        font-size: 25px;
    }

    .section-3>.section-content>p {
        font-size: 20px;
    }

    #PRIVACYPOLICYCHECK {
        font-size: 18px;
    }

    .mb-3.form-check {
        padding-left: 30px !important;
    }

    .form-check-label {
        font-size: 15px;
    }
}

@media (max-width: 440px) {
    .section-1>.section-content>h2 {
        font-size: 18px;
    }

    .section-1>.section-content>h4 {
        font-size: 12px;
    }

    .div-hr-full>h3 {
        font-size: 20px;
    }

    .on-offline>h2 {
        font-size: 16px;
    }
}